<html>
   <head>
       <title>LOGIN</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <style>
		      input{
			    padding:5px;
				border:1px solid red;
				border-radius:15px;
			  }
		 </style>
		 
   </head>
   <body>
      <div class="container-fluid bg-warning" height=10% width=100% >
	    <nav class ="navbar navbar-default bg-light">
              <div class="container-fluid">
                  <font size="6"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;Books</font>
				 <a class="navbar-brand"><font size="7">The Bookstore</font>
				  </a>
				  
	           </div>
          </nav>			   
	  </div>
	  <div class="container-fluid" height="10%" width="100%">
	     <button type="button" class="btn btn-link"><font size="5"><a href="home">Home</a></font></button>
	     <button type="button" class="btn btn-link"><font size="5"><a href="contact">Contact</a></font></button>
         <button type="button" class="btn btn-link"><font size="5"><a href="login">logout</a></font></button>
	  </div>
    </div>
  </div>
</div>

<div class="container my-5">
  
  <hr class="my-5">
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>

    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="book.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->



    </div>
    <!--/.Slides-->

  </div>
   <body>
</html>