<html>
   <head>
       <title>LOGIN</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <style>
		      input{
			    padding:5px;
				border:1px solid red;
				border-radius:15px;
			  }
		 </style>
		 
   </head>
   <body>
      <div class="container-fluid bg-warning" height=10% width=100% >
	    <nav class ="navbar navbar-default bg-light">
              <div class="container-fluid">
                  <font size="6"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;Books</font>
				 <a class="navbar-brand"><font size="7">The Bookstore</font>
				  </a>
				  
	           </div>
          </nav>			   
	  </div>
	  <div class="container-fluid" height="10%" width="100%">
	     <button type="button" class="btn btn-link"><font size="5"><a href="/home">Home</a></font></button>
	     <button type="button" class="btn btn-link"><font size="5"><a href="/register" >Registration</a></font></button>
	  </div>
	  <div class="container">
	    <table>
		  <tr><br><br><br><br>
		    <center>
			<form action="login" method="post">
			 <font size="5"> Username</font> &nbsp; <input type="text" size="20" name="username" id="username"><br><br>
			  <font size="5"> Password</font> &nbsp; <input type="password" size="20" name="password" id="password"><br><br>
			  <input type="submit" class="btn btn-primary btn-md">
			</form>  
			</center>
		  </tr>
		</table>
	  </div>
   <body>
</html>